<section class="content">
    <section class="header">
        <div class="logo">
            <img src="assets/img/videoflix_logo.svg" routerLink="">
        </div>
    </section>
    <div class="login-card">
        <mat-card appearance="outlined">
            <h1>Log in</h1>
            <div class="input-container">
                <input class="input-text" type="mail" placeholder="Email Address">
                <input [type]="passwordFieldType" id="passwordField" class="input-text password" placeholder="Password"
                    (click)="togglePasswordVisibility($event)" (mousemove)="changeCursorOnHover($event)">
            </div>
            <div class="checkbox-container">
                <input class="checkbox" type="checkbox">
                Remember me
            </div>
            <div class="button-container">
                <button>Log in</button>
                <a routerLink="/forgot-password">Forgot Password</a>
                <span>New to Videoflix?<a routerLink="/sign-up">Sign Up now</a></span>
            </div>
        </mat-card>
    </div>
    <div class="legal">
        <a href="">Privacy Policy</a>
        <a href="">Legal Notice</a>
    </div>
</section>