<section class="content">
    <section class="header">
        <div class="logo">
            <img src="assets/img/videoflix_logo.svg" routerLink="">
        </div>
        <button><a routerLink="log-in">Log in</a></button>
    </section>
    <div class="content-container">
        <h1>Movies, Tv shows and more</h1>
        <h2>Watch whenever you want wherever you want</h2>
        <h3>Enter your email to create or restart your subscription.</h3>
        <div class="input-container">
            <input type="email" placeholder="Email Address" [(ngModel)]="email">
            <button (click)="goToSignUp()">Sign Up ></button>
        </div>
    </div>
    <div class="legal">
        <a routerLink="/privacy-policy">Privacy Policy</a>
        <a routerLink="/imprint">Legal Notice</a>
    </div>
</section>