<section class="content">
    <section class="header">
        <div class="logo">
            <img src="assets/img/videoflix_logo.svg" routerLink="">
        </div>
        <button><a routerLink=""><img src="assets/img/logout.svg">Log out</a></button>
    </section>
    <div class="placeholder">
        <div>
            <h1>Breakout</h1>
            <span>In a high-security prison, a wrongly convicted man formulates a meticulous plan to break out and prove his
                innocence. He must navigate a web of alliances and betrayals to reclaim his freedom and expose the
                truth.</span>
            <button><img src="assets/img/play_arrow.svg">Play</button>
        </div>
    </div>
    <div class="video-categories">
        <div>
            <span>New on Videoflix</span>
        </div>
        <div>
            <span>Documentary</span>
        </div>
        <div>
            <span>Drama</span>
        </div>
        <div>
            <span>Romance</span>
        </div>
    </div>
    <div class="legal">
        <a routerLink="/privacy-policy">Privacy Policy</a>
        <a routerLink="/imprint">Legal Notice</a>
    </div>
</section>