<section class="content">
    <section class="header">
        <div class="logo">
            <img src="assets/img/videoflix_logo.svg" routerLink="">
        </div>
        <button><a routerLink="/log-in">Log in</a></button>
    </section>
    <div class="login-card">
        <mat-card appearance="outlined">
            <h1>Sign Up</h1>
            <form (ngSubmit)="register()">
                <div class="input-container">
                    <input class="input-text" type="email" placeholder="Email Address" [(ngModel)]="email" name="email"
                        required email #emailField="ngModel"
                        [ngClass]="{'invalid': emailField.invalid && emailField.touched}">

                    <div *ngIf="emailField.invalid && emailField.touched" class="error-message">
                        <img src="assets/img/warning.svg"> Please enter a valid email address
                    </div>
                    
                    <input [type]="passwordFieldType" id="passwordField" class="input-text password"
                        placeholder="Enter a Password" [(ngModel)]="password" name="password" required
                        (click)="togglePasswordVisibility($event)" (mousemove)="changeCursorOnHover($event)">
                    <input [type]="passwordFieldType" id="passwordConfirmField" class="input-text password"
                        placeholder="Confirm Password" [(ngModel)]="confirmPassword" name="confirmPassword" required
                        (click)="togglePasswordVisibility($event)" (mousemove)="changeCursorOnHover($event)">
                    <div *ngIf="passwordMismatch()">
                        <img src="assets/img/warning.svg"> Passwords must match
                    </div>
                </div>
                <div class="button-container">
                    <button type="submit" [disabled]="!formValid()">Get Started</button>
                </div>
            </form>
        </mat-card>
    </div>
    <div class="legal">
        <a routerLink="/privacy-policy">Privacy Policy</a>
        <a routerLink="/imprint">Legal Notice</a>
    </div>
    <div class="notification" *ngIf="notification">
        <div class="green-container"></div>
        <span>Verification email send!</span>
        <div class="line"></div>
        <button (click)="closeBar()"><img src="./../../../assets/img/close_small.png"></button>
    </div>
</section>